

mixin triangleHeader

    div.triangleHeader-container

        div.triangleHeader-leftUnderlay

        div.triangleHeader-content-container
            div.triangleHeader-content-leftAngle
            div.triangleHeader-content-content
                img(src="./images/sc-horizontal1.png", alt="SuperColin")
                //- span SuperColin

        div.triangleHeader-rightSideTriangle-top
        div.triangleHeader-rightSideTriangle-bottom
 

