

mixin portfolio-card(cardTitle, cardSnippet)

    div.portfolio-card.portfolioModule
        img(src="/images/jabberwocky.jpg", alt="jabberwocky")
        
        div
            h5 #{cardTitle}

            p #{cardSnippet}
