

mixin portfolio-listing

    include portfolio-card


    div
        p Portfolio listing:

    div.portfolio-listing.portfolioModule

        +portfolio-card('title 1', 'ipsum dolor sit amet, consectetur adipisicing elit. Harum cumqu')
        +portfolio-card('sdf sdf', 'ipsum dolor sit amet, consectetur adipisicing elit. Harum cumqu')
        +portfolio-card('sdfrtyj ', 'ipsum dolor sit amet, consectetur adipisicing elit. Harum cumqu')





