.portfolioModule{
    font-size: var(--global_fontSize-body-medium);
    padding: var(--global_spacing-medium);
}
.portfolioModule * + *{margin-top: var(--global_spacing-medium)}

/* --- PORTFOLIO LISTING --- */
.portfolio-listing{
    /* padding: 1em; */
}


/* --- PORTFOLIO CARD --- */
.portfolio-card{
    background-color: var(--brand_color-darkAccent1);
    padding: var(--global_spacing-medium);
}

.portfolio-card h5 {
    font-size: var(--global_fontSize-title-small);
}




