*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* + *{
  margin-top: 1.5em;
}
header{
  margin-top: 0;
}
body {
  /* background: #999; */
  margin-top: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

