
mixin fadeHeader

    //- link(rel='stylesheet', href='/stylesheets/fadeHeader.css')
    //- style 
    //-     include fadeHeader.css

    div.fadeHeader-container
        div.fadeHeader-content-container
            p some header content
        div.fadeHeader-trailsRoot


