/* Mobile First */
.fadeHeader-container {
    --fadeHeader-padding: 1rem;
    --fadeHeader-color: #ED6C25;

    --fadeTrails-height: 1vh;
}


.fadeHeader-container {

    background-color: var(--fadeHeader-color);

    position: relative;

    margin-bottom: calc(var(--fadeTrails-height) * 3)
}

.fadeHeader-trailsRoot,
.fadeHeader-trailsRoot::before,
.fadeHeader-trailsRoot::after {
    display: block;
    content: "";

    position: absolute;
    left: 0;
    right: 0;

    /* extra 0.1 for some safety overlap */
    height: calc(var(--fadeTrails-height) * 1.1);
    width: 100%;

    border-radius: 0 0 calc(var(--fadeTrails-height) * 0.1) calc(var(--fadeTrails-height) * 0.1);

    background-color: var(--fadeHeader-color);
    box-shadow: inset 0 calc(var(--fadeTrails-height) * 0.2) 5px rgba(0, 0, 0, 0.4);
}

.fadeHeader-trailsRoot::before {
    bottom: calc(var(--fadeTrails-height) * -2);
    z-index: 1;
    filter: saturate(33%) brightness(170%);
}

.fadeHeader-trailsRoot::after {
    bottom: calc(var(--fadeTrails-height) * -1);
    z-index: 2;
    filter: saturate(66%) brightness(140%);
}

.fadeHeader-trailsRoot {
    bottom: calc(var(--fadeTrails-height) * -1);
    z-index: 3;
    filter: saturate(90%) brightness(110%);
}



.fadeHeader-content-container {
    position: relative;
    z-index: 4;

    padding: var(--fadeHeader-padding);
    padding-bottom: var(--fadeTrails-height);
}
