
mixin triangleFooter

    div.triangleFooter-container
        div.triangleFooter-leftAngles-container
            div.triangleFooter-leftAngles-tallShallow
            span.sc-hexagon
        
        div.triangleFooter-topBar-container
            div.triangleFooter-topBar-bar
            div.triangleFooter-topBar-leftBarAngle

        div.triangleFooter-content-container

            div.triangleFooter-content-form
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, saepe voluptatem alias, veritatis consequatur nam voluptatum facere vitae aspernatur itaque quo, corporis illum libero magni illo. Laudantium tenetur officiis velit.

        div.triangleFooter-bottomRightAngle-container
            div.triangleFooter-bottomRightAngle-triangle


