
mixin triangleFooter

    div.triangleFooter-container
        div.triangleFooter-leftAngles-container
            div.triangleFooter-leftAngles-tallShallow
            span.sc-hexagon
        
        div.triangleFooter-topBar-container
            div.triangleFooter-topBar-bar
            div.triangleFooter-topBar-topBarAngle

        div.triangleFooter-midBar-container
            div.triangleFooter-midBar-bar
            div.triangleFooter-midBar-midBarAngle

        div.triangleFooter-content-container

            div.triangleFooter-content-formContainer
                h4.triangleFooter-content-formTitle.sc-title Contact Me

                //- div.sc-hr

                label(for="yourEmail").triangleFooter-content-emailLabel.sc-accent Your Email:
                input.triangleFooter-content-emailInput(type="text" id="yourEmail" name="yourEmail")

                //- div.sc-hr
                
                label(for="yourMessage").sc-accent Message:
                textarea(name="yourMessage", rows="6")

                button.sc-button Submit

            div.triangleFooter-content-social

                //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, saepe voluptatem alias, veritatis consequatur nam voluptatum facere vitae aspernatur itaque quo, corporis illum libero magni illo. Laudantium tenetur officiis velit.
                //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, saepe voluptatem alias, veritatis consequatur nam voluptatum facere vitae aspernatur itaque quo, corporis illum libero magni illo. Laudantium tenetur officiis velit.
                //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, saepe voluptatem alias, veritatis consequatur nam voluptatum facere vitae aspernatur itaque quo, corporis illum libero magni illo. Laudantium tenetur officiis velit.

        div.triangleFooter-bottomRightAngle-container
            div.triangleFooter-bottomRightAngle-triangle


