extends layout

block content

  include blocks/triangleHeader/triangleHeader
  include blocks/hero/hero
  include blocks/slideInProjects/slideInProjects
  include blocks/quickAbout/quickAbout
  include blocks/triangleFooter/triangleFooter

  style
    | /* Use padding instead of margin for parallax continuity across blocks */
    | .hero-container + div{margin-top: 0;}
    | .quickAbout-container{margin-top: 0;padding-bottom:calc(var(--global_spacing-owl) + var(--global_spacing-medium));padding-top:calc(var(--global_spacing-owl) + var(--global_spacing-medium));}
    | footer{margin-top:0;}


  +hero

  +slideInProjects

  +quickAbout

  script(src="/javascripts/slideInProjects.js")