
mixin hero

    div.hero-container
        h1 Favorite Technologies:
        //- p Constantly solving problems and always improving, I have a passion for coding and I try to learn something new everyday. Some things I love to work with:

        div.hero-skillsList-container
            ul
                li Javascript
                li CSS
                li Python
                li list item
                li list item

            ul
                li Angular
                li MongoDB
            ul
                li Angular
                li MongoDB


