
mixin hero

    div.hero-container
        div.heroUpper-container
            h1.sc-title Favorite Technologies:

            div.hero-skillsList-container


                div.hero-skillsList-list
                    div.hero-skillsList-list-titleWrapper
                        span.sc-hexagon
                        h3.sc-title Langauges
                    ul
                        li 
                            span.sc-hexagon 
                            span Javascript
                        li
                            span.sc-hexagon 
                            span CSS
                        li
                            span.sc-hexagon 
                            span Python

                div.hero-skillsList-list
                    div.hero-skillsList-list-titleWrapper
                        span.sc-hexagon
                        h3.sc-title Stacks
                    ul
                        li
                            span.sc-hexagon 
                            span MEAN
                        li
                            span.sc-hexagon 
                            span LAMP

                div.hero-skillsList-list
                    div.hero-skillsList-list-titleWrapper
                        span.sc-hexagon
                        h3.sc-title Frameworks
                    ul
                        li
                            span.sc-hexagon 
                            span Node.js
                        li
                            span.sc-hexagon 
                            span Angular
                        li
                            span.sc-hexagon 
                            span Wordpress Themes

        div.heroLower-container.sc-parallaxBg

            h3.heroLower-title.sc-accent “No alarm clock needed<span class="sc-heart"> </span> My passion wakes me.”

            div.heroLower-arrowsBg-container
                div.heroLower-arrowsBg-upperLeft
                div.heroLower-arrowsBg-upperRight
                div.heroLower-arrowsBg-lowerLeft
                div.heroLower-arrowsBg-lowerRight
