
mixin fadeFooter

    div.fadeFooter-container
        div.fadeFooter-trailsRoot 
        div.fadeFooter-content-container
            
            h5.fadeFooter-content-title Contact Me!
            
            div
                label(for="name") Name:
                br 
                input(name="name" type="text")
                hr 
                label(for="contactInfo") Contact Info:
                br 
                input(name="contactInfo" type="text")
                hr 
                label(for="message") Messagelabel 
                br 
                textarea(name="message" id="message" cols="30" rows="5")

