

mixin quickAbout

    div.quickAbout-container.sc-parallaxBg
        div.quickAbout-bgShader
        div.quickAbout-aboveBg
            h4.quickAbout-title.sc-title Quick Developer Resume

            //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum harum sed nesciunt laborum officia quos, quasi dignissimos labore fugiat nostrum ex inventore dolore tempora pariatur deleniti veritatis? Id, suscipit accusantium.

            p
                span.sc-hexagon
                | I've been teaching myself to code, and expanding my knowledge almost everyday since mid-2016. I started learning front-end web development and have slowly worked into more and more back-end development. 

            p 
                span.sc-hexagon
                | I worked as an intern at 
                a(href="https://www.gobigwheel.com/").sc-lightLink Bigwheel
                | , a local marketing agency, for about 6 months. I came back full time for about 3 months before being laid off because of a shortage of work.

            p
                span.sc-hexagon
                | I may not have much professional experience, but my soft skills and determination will get me through anything. 





