

#chart-container{
    background-color: #bbb;
}


.chart{
    background: #999;
    color: white;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}


svg{
    background-color: blue;
}
rect{
    background-color: cyan;
    fill: cyan;
}
line{
    stroke: red;
}
text{
    /* text-anchor: end; */
}

p + p{
    color: blue;
}
span + p{
    color: yellowgreen;
}

