
mixin d3Test
    

    div#chart-container
        p outer d3 P text
        span a span

        div.chart
            p heres a p tag
        div.chart
            p heres chart number 2
            p heres chart number 2
        div.chart
            p heres chart number 3
            p heres chart number 3
            p heres chart number 3
            span sdofmsodfkmn fdg
            p heres chart number 666
            p heres chart number 665

        div(style="background-color: green;").svg-container
            //- svg(width="500" height="500")
            //-     rect( x="10" y="10" width="200" height="200")
            //-     line(x1="222" y1="222" x2="400" y2="400")

    script(src="/javascripts/d3.sunburst.js")