
.slideInProjects-container{
    --slideInProjects-lightBg: var(--global_color-midDarkGray1);
    --slideInProjects-darkBg: var(--global_color-darkGray1);
    --slideInProjects-links-padding: var(--global_spacing-small);

    
    background-color: var(--slideInProjects-lightBg);
    padding: var(--global_spacing-medium);

    border-top: 10px solid var(--brand_color-main1);
}
.slideInProjects-container * + *{margin-top: var(--global_spacing-owl);}

.slideInProjects-projects-container{
    /* background-color: var(--slideInProjects-lightBg); */
}
.slideInProjects-projects-project{
    display: flex;
    flex-wrap: wrap;
    padding: var(--global_spacing-small);

    border-radius: 0.5em;
    border: 0.1em solid #111;
    background-color: var(--slideInProjects-darkBg);
}

.slideInProjects-projects-project-title{
    width: 100%;
    font-size: var(--global_fontSize-title-medium);
    text-align: center;
    order: 1;
}

.slideInProjects-projects-project-image{
    order: 2;
    width: 100%;
}
.slideInProjects-projects-project-image img{
    width: 100%;
    height: auto;
}

.slideInProjects-projects-project-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    order: 5;
}
.slideInProjects-projects-project-links a{
    display: inline-flex;
    align-items: center;
    /* max-height: 2rem; */
    margin-top: 0;
    padding: var(--slideInProjects-links-padding);

    color: var(--brand_color-lightShade1);
    font-size: var(--global_fontSize-body-large);

    border-radius:  1.5em;
    background-color: var(--brand_color-darkAccent1);
}
.slideInProjects-projects-project-links svg{
    display: block;
    max-height: 1.5em;
    margin-right: var(--slideInProjects-links-padding);
    fill: var(--brand_color-lightShade1);
}

.slideInProjects-projects-project-about{
    order: 4;
}

@media(min-width: 500px){
    .slideInProjects-projects-project-links {
        order: 3;
    }
    .slideInProjects-projects-project-links-code::after{
        /* content:'Code'; */
    }

    .slideInProjects-projects-project-image {
        max-width: 62%;
    }
    .slideInProjects-projects-project-links {
        width: 33%;
        flex-direction: column;
    }
}

@media(min-width: 800px) {
    .slideInProjects-projects-project-title{
        width: 66%;
        order: 2;
    }
    .slideInProjects-projects-project-image{
        max-width: 31%;
        /* width: auto; */
        order:1;
    }
    .slideInProjects-projects-project-links{
        flex-direction: row;
        width: 65%;
        order: 4;

    }
    .slideInProjects-projects-project-about{
        order: 3;
    }
}