
.slideInProjects-container{
    --slideInProjects-lightBg: var(--global_color-midDarkGray1);
    --slideInProjects-darkBg: var(--global_color-darkGray1);
    
    --slideInProjects-links-padding: var(--global_spacing-small);
    --slideInProjects-buttonFadeIn: var(--global_timing-transitionDuration-small);

    
    background-color: var(--slideInProjects-lightBg);
    padding: var(--global_spacing-medium);

    border-top: 0.5rem solid var(--brand_color-main1);
}
.slideInProjects-container * + *{margin-top: var(--global_spacing-owl);}

.slideInProjects-projects-container{
    /* background-color: var(--slideInProjects-lightBg); */
}
.slideInProjects-projects-title{
    text-align: center;
    font-size: var(--global_fontSize-title-large);
}
.slideInProjects-projects-project{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: var(--global_spacing-small);

    border-radius: 0.3em;
    border: 0.1em solid #111;
    background-color: var(--slideInProjects-darkBg);
}

.slideInProjects-projects-project-image{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.slideInProjects-projects-project-image img{
    width: 100%;
    max-height: 18em;

    height: auto;
    /* height: 100%; */
    object-fit: contain;
    /* object-fit: cover; */
    object-position: top;
}


.slideInProjects-projects-project-textContainer{
    width: 100%;
    /* margin-top: 0; */
    text-align: center;
}

.slideInProjects-projects-project-title {
    width: 100%;
    font-size: var(--global_fontSize-title-small);
    
}

.slideInProjects-projects-project-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.slideInProjects-projects-project-links a{
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    padding: var(--slideInProjects-links-padding);

    color: var(--brand_color-lightShade1);
    font-size: var(--global_fontSize-body-large);

    border-radius:  1.5em;
    background-color: var(--brand_color-darkAccent1);
}
.slideInProjects-projects-project-links svg{
    display: block;
    max-height: 1em;
    margin-right: var(--slideInProjects-links-padding);
    fill: var(--brand_color-lightShade1);
}

.slideInProjects-projects-project-about{
    font-size: var(--global_fontSize-body-medium);
}

@media(min-width: 500px){
    .slideInProjects-projects-project-image {
        max-width: 40%;
    }
    .slideInProjects-projects-project-textContainer {
        margin-top: 0;
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media(min-width: 920px) {
    .slideInProjects-projects-project {
        padding:var(--global_spacing-medium);
    }
    .slideInProjects-projects-project-about{
        /* width: 65%; */
        font-size: var(--global_fontSize-body-medium);
    }
}
@media(min-width: 1200px) {
    .slideInProjects-projects-project-image {
        max-width: 33%;
    }
    .slideInProjects-projects-project-textContainer {
        width: 63%;
    }
}
