extends layout

block content
  script(src="/javascripts/d3.min.js")
  style 
    include blocks/fadeHeader/fadeHeader
    include blocks/fadeHeader/fadeHeader.css

    include blocks/fadeFooter/fadeFooter
    include blocks/fadeFooter/fadeFooter.css

    include blocks/d3Test/d3Test
    include blocks/d3Test/d3Test.css


  header 
    +fadeHeader

  //- section
  
  h1= title
  p Welcome to #{title}

  div
    +d3Test
  


  footer
    +fadeFooter




