extends layout

block content

  style 
    include blocks/triangleHeader/triangleHeader
    include blocks/triangleHeader/triangleHeader.css

    include blocks/hero/hero
    include blocks/hero/hero.css

    include blocks/slideInProjects/slideInProjects
    include blocks/slideInProjects/slideInProjects.css

    include blocks/triangleFooter/triangleFooter
    include blocks/triangleFooter/triangleFooter.css



  header 
    //- +fadeHeader
    +triangleHeader

  style .hero-container + div{margin-top: 0;}
  +hero

  +slideInProjects
  
  //- h1= title
  //- p Welcome to #{title}
 

  //- +portfolio-listing



  footer
    //- +fadeFooter
    +triangleFooter
