extends layout

block content

  style 
    include blocks/fadeHeader/fadeHeader
    include blocks/fadeHeader/fadeHeader.css

    include blocks/triangleHeader/triangleHeader
    include blocks/triangleHeader/triangleHeader.css

    include blocks/fadeFooter/fadeFooter
    include blocks/fadeFooter/fadeFooter.css

    include blocks/hero/hero
    include blocks/hero/hero.css

    include blocks/portfolio/portfolio-listing
    include blocks/portfolio/portfolio.css

    include blocks/triangleFooter/triangleFooter
    include blocks/triangleFooter/triangleFooter.css

  header 
    //- +fadeHeader
    +triangleHeader


  +hero
  
  //- h1= title
  //- p Welcome to #{title}
 

  //- +portfolio-listing



  footer
    //- +fadeFooter
    +triangleFooter
