doctype html
include mixer
//- include nested-mixer
html

  head
    title 
      | This is the #{title}

  body
    p 
      | Here's a p tag

    div#divId.divClass
      | a div
      a with a link
      | in it
    
    +mixer

    //- +nested-mixin


