extends layout

block content

  style 
    include blocks/triangleHeader/triangleHeader
    include blocks/triangleHeader/triangleHeader.css

    include blocks/hero/hero
    include blocks/hero/hero.css

    include blocks/slideInProjects/slideInProjects
    include blocks/slideInProjects/slideInProjects.css

    include blocks/triangleFooter/triangleFooter
    include blocks/triangleFooter/triangleFooter.css

  header 
    +triangleHeader

  style .hero-container + div{margin-top: 0;}
  +hero

  +slideInProjects

  footer
    +triangleFooter