extends layout

block content

  
  style
    include blocks/triangleHeader/triangleHeader
    include blocks/triangleHeader/triangleHeader.css

    include blocks/hero/hero
    include blocks/hero/hero.css
    
    include blocks/slideInProjects/slideInProjects
    include blocks/slideInProjects/slideInProjects.css
    include blocks/slideInProjects/slideInProjectsKeyframes.css

    include blocks/quickAbout/quickAbout
    include blocks/quickAbout/quickAbout.css
    
    include blocks/triangleFooter/triangleFooter
    include blocks/triangleFooter/triangleFooter.css
    
    | /* Use padding instead of margin for parallax continuity across blocks */
    | .hero-container + div{margin-top: 0;}
    | .quickAbout-container{margin-top: 0;padding-bottom:calc(var(--global_spacing-owl) + var(--global_spacing-medium));padding-top:calc(var(--global_spacing-owl) + var(--global_spacing-medium));}
    | footer{margin-top:0;}

  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500&family=Roboto&display=swap" rel="stylesheet"> 
    
  header 
    +triangleHeader

  +hero

  +slideInProjects

  +quickAbout

  footer.sc-parallaxBg
    +triangleFooter

  script(src="/javascripts/slideInProjects.js")