
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerWrapper{
    display: flex;
    justify-content: space-between;

    height: 4.5rem;

    padding: 0.25rem;
    background-color: #aaa;
}

.header-socialIcons{
    height: 100%;
}

.header-socialIcons img{
    border-radius: 50%;
    height: 100%;
}
