@import './global-vars.css';

:root{
    --sidebar-iconsTab-width: calc(60px + 3vw);
    --sidebar-hideableTab-width:calc(var(--sidebar-iconsTab-width) * 2.5);
    --sidebar-transitionDuration: var(--global-timing-transition-duration);
}

.sidebarMenu-container{
    --sidebar-icons-diameter: calc(var(--sidebar-iconsTab-width) - calc(var(--sidebar-containerTabs-padding-horizontal) * 2));
    --sidebar-icons-maxDiameter: 100px;

    --sidebar-containerTabs-padding-vertical: var(--global-spacing-medium);
    --sidebar-containerTabs-padding-horizontal: var(--global-spacing-small);

    --sideBar-fontSize-links: var(--global-fontSize-body-large);
}

/* So the body content doesn't flow under the sidebar */
body {
    padding-left: var(--sidebar-iconsTab-width) !important;
    transition: all var(--sidebar-transitionDuration);
}
/* body.sidebarMenu-expanded{
    padding-left: calc(var(--sidebar-hideableTab-width) + var(--sidebar-iconsTab-width)) !important;
} */

/* This maintains a square aspect ratio on the icons in the element */
.sidebarMenu-icon-container {
    /* min-width: var(--sidebar-icons-minDiameter); */
    width: var(--sidebar-icons-diameter);
    max-width: var(--sidebar-icons-maxDiameter);

    overflow: hidden;
}

/* ----------------------------------------------- */

.sidebarMenu-container{
    display: flex;

    position: fixed;
    z-index: 9999;
    top: 0;
    right: calc(100% - var(--sidebar-iconsTab-width));
    transition: right var(--sidebar-transitionDuration);

    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
}
body.sidebarMenu-expanded .sidebarMenu-container {
    right: 0;
}

.sidebarMenu-hideableTab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: calc(100% - var(--sidebar-iconsTab-width));
    padding: var(--sidebar-containerTabs-padding-vertical) var(--sidebar-containerTabs-padding-horizontal);

    background-color: var(--brand-color-lightShade1);
    color: var(--brand-color-darkShade1);
}
.sidebarMenu-hideableTab-linksWrapper{
    width: 100%;
    height: calc(90% - var(--sidebar-icons-diameter));
}
.sidebarMenu-hideableTab-linksWrapper ul{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.sidebarMenu-hideableTab-linksWrapper a{
    display: block;

    color: var(--darkMode-currentColor-text);
    color: var(--brand-color-darkAccent1);
    text-align: center;
    font-size: var(--sideBar-fontSize-links);
}

.sidebarMenu-hideableTab-socialIcons{
    min-height: var(--sidebar-icons-minDiameter);
    height: var(--sidebar-icons-diameter);
    display: flex;
    justify-content: space-around;
}


/* ---------------------------------------- */


.sidebarMenu-iconsTab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: var(--global-spacing-small);
    width: var(--sidebar-iconsTab-width);
    max-width: var(--sidebar-iconsTab-width);


    background-color: var(--brand-color-main1);
}

.sidebarMenu-iconsTab-toggleWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 30%;
}
.sidebarMenu-iconsTab-toggleWrapper .sidebarMenu-icon-container {
    padding-bottom: var(--sidebar-containerTabs-padding-vertical);
}

.sidebarMenu-iconsTab-toggleTabButton,
.sidebarMenu-iconsTab-darkModeButton{
    width:var(--sidebar-icons-diameter);
    max-width: var(--sidebar-icons-maxDiameter);

    padding-top: 100%;
    position: relative;

    cursor: pointer;

    border-radius: 50%;
    background-color: var(--brand-color-lightAccent1);
    background-image: linear-gradient(to bottom, var(--brand-color-lightAccent1), var(--brand-color-darkAccent1));
}
.sidebarMenu-iconsTab-darkModeButton{padding: 0;}

.sidebarMenu-iconsTab-toggleTabButton{
}
.sidebarMenu-iconsTab-darkModeButton{
        border-radius: 25%;
}
.sidebarMenu-iconsTab-logoWrapper{
    display: flex;
    justify-content: flex-end;

    max-height: 60%;
    padding: 3px;

}
.sidebarMenu-iconsTab-logoWrapper img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: bottom;
}

@media(min-width: 520px){
    :root{
        --sidebar-iconsTab-width: calc(80px + 1vw);
    }
}

@media(min-width: 1020px){
    /* body.sidebarMenu-expanded {
        padding-left: calc(var(--sidebar-hideableTab-width) + var(--sidebar-iconsTab-width)) !important;
    } */
    :root{
        --sidebar-hideableTab-width:calc(var(--sidebar-iconsTab-width) * 2.5);
    }
    .sidebarMenu-container {
        width: calc(var(--sidebar-hideableTab-width) + var(--sidebar-iconsTab-width));
    }
    body.sidebarMenu-expanded {
        padding-left: calc(var(--sidebar-hideableTab-width) + var(--sidebar-iconsTab-width)) !important;
    }
    body.sidebarMenu-expanded .sidebarMenu-container {
        right: calc(100% - calc(var(--sidebar-hideableTab-width) + var(--sidebar-iconsTab-width)));
    }
    .sidebarMenu-hideableTab{
        width: var(--sidebar-hideableTab-width);
    }
}