
!!! - SuperColin Website - !!!

What Problem(s) Are We Trying to Solve?

    Having a place online to show my work / Portfolio
    (The site itself will be the portfolio for now)

    Creating an online (sharable / linkable) presence for SuperColin





Who will be using it? :

    People I intend to interview with for a job
    Potential freelance clients


What is their goal? / 
What problem does this product or feature solve for them? :

    To see what I'm capable of


What are some of the actions or operations they are likely to perform? :

    Looking around
    Looking for bugs or things that don't work right?
    






